/* Colors name */
h1 {
    /* color: tomato;
}
HEX COLORS
h1{
    color:#333ba6
     ; */
}
/* RGB */
/* h1{
    color:rgb(191, 39, 31)
} */

/* BACKGROUND COLOR */
/* body{
    background-color: wheat
    
} */

/* div{
    background-color: wheat;
    color: rgb(255, 0, 0);
} */

/* OPACITY */
/* #div1{
    background-color: green;
    opacity: 0.5;
} */

/* img{
    opacity: 0.5;
} */

